src/semester1/softwareEngineering1/se1_blatt2/Bib.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Bib (Buch)*>
<!ELEMENT Buch (Titel, Autor+, Verlag)>
<!ATTLIST Buch ISBN CDATA #REQUIRED>
<!ELEMENT Titel (#PCDATA)>
<!ELEMENT Autor (Vorname, Nachname, Organisation?)>
<!ELEMENT Vorname (#PCDATA)>
<!ELEMENT Nachname (#PCDATA)>
<!ELEMENT Organisation (#PCDATA)>
<!ELEMENT Verlag (#PCDATA)>
